<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://dm402-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
</head>
<body>

<div id="content">

    <h1 id="title">{{ object.title }}</h1>
    <div class="box">
        <p class="description"><span class="label">Description: </span>{{ object.description }}</p>
        <p><span class="label">Create Date: </span>{{ object.create_date }}</p>
        <p><span class="label">Modify Date: </span>{{ object.modify_date }}</p>
        <img src="{{ object.image.url }}" width="600" height="600">
        <div id="disqus_thread"></div>
    </div>

</div>

</body>
</html>